{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>PiZZa</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <script src="https://js.stripe.com/v3/"></script>
<link rel="stylesheet" href="{% static 'styles.ab7d7994ebeed3e63076.css' %}"></head>
<body>
  <app-root></app-root>
<script src="{% static 'runtime-es2015.0811dcefd377500b5b1a.js' %}" type="module"></script>
<script src="{% static 'runtime-es5.0811dcefd377500b5b1a.js' %}" nomodule defer></script>
<script src="{% static 'polyfills-es5.1a3c78b07cd6f16c6e9a.js' %}" nomodule defer></script>
<script src="{% static 'polyfills-es2015.1f913f16a2d346cc8bdc.js' %}" type="module"></script>
<script src="{% static 'main-es2015.d27af8a4a71527f06971.js' %}" type="module"></script>
<script src="{% static 'main-es5.d27af8a4a71527f06971.js' %}" nomodule defer></script></body>
</html>
